@media only screen and  (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 36px;
        display: flex;
        flex-direction: row;
        
    }
/*     #small {
        display: none;
        

    }
    #medium {
      display: none;
  } */

}


  @media only screen and (max-width: 768px) and (min-width: 300px) {
      body {
          background-color: green;
          font-size: 24px;
          display: flex;
          flex-wrap: wrap;
             
      }
      
      #small {
        width: 70%;
      }
      #medium {
       width: 30%;
       
    }
    
}
  
  @media only screen and (min-width: 0px) and (max-width: 300px) {
    body {
        background-color: red;
        font-size: 16px;
       

    }
    /* #medium {
        display: none;
    }
    #large {
        display: none;
    }
     */
}